body {
  color: white;
  background-attachment: fixed;
  height: 100%;
  background-color: #444444;
  background-image: -webkit-linear-gradient(#444444 20%, black 100%);
  background-image: linear-gradient(#444444 20%, black 100%); }

header {
  height: 60px; }

#my-cool-chart {
  position: inherit;
  top: -160px;
  left: -100px;
  width: 120%; }

text {
  fill: white; }

#update {
  height: 25px; }

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* choose any height */
  text-align: center; }

/******** PIZZA-PIE *******/
[data-pie-id] > *:nth-child(40n+0), [data-bar-id] > *:nth-child(10n+0), [data-line-id] > *:nth-child(10n+0) {
  color: #f68c74; }

[data-pie-id] > *:nth-child(40n+1), [data-bar-id] > *:nth-child(10n+1), [data-line-id] > *:nth-child(10n+1) {
  color: #f57c61; }

[data-pie-id] > *:nth-child(40n+2), [data-bar-id] > *:nth-child(10n+2), [data-line-id] > *:nth-child(10n+2) {
  color: #f46c4e; }

[data-pie-id] > *:nth-child(40n+3), [data-bar-id] > *:nth-child(10n+3), [data-line-id] > *:nth-child(10n+3) {
  color: #f35c3a; }

[data-pie-id] > *:nth-child(40n+4), [data-bar-id] > *:nth-child(10n+4), [data-line-id] > *:nth-child(10n+4) {
  color: #f24c27; }

[data-pie-id] > *:nth-child(40n+5), [data-bar-id] > *:nth-child(10n+5), [data-line-id] > *:nth-child(10n+5) {
  color: #f13c14; }

[data-pie-id] > *:nth-child(40n+6), [data-bar-id] > *:nth-child(10n+6), [data-line-id] > *:nth-child(10n+6) {
  color: #e2350e; }

[data-pie-id] > *:nth-child(40n+7), [data-bar-id] > *:nth-child(10n+7), [data-line-id] > *:nth-child(10n+7) {
  color: #cf300d; }

[data-pie-id] > *:nth-child(40n+8), [data-bar-id] > *:nth-child(10n+8), [data-line-id] > *:nth-child(10n+8) {
  color: #bc2c0c; }

[data-pie-id] > *:nth-child(40n+9), [data-bar-id] > *:nth-child(10n+9), [data-line-id] > *:nth-child(10n+9) {
  color: #a9270a; }

[data-pie-id] > *:nth-child(40n+10), [data-bar-id] > *:nth-child(40n+10), [data-line-id] > *:nth-child(40n+10) {
  color: #f19b13; }

[data-pie-id] > *:nth-child(40n+11), [data-bar-id] > *:nth-child(40n+11), [data-line-id] > *:nth-child(40n+11) {
  color: #eb960e; }

[data-pie-id] > *:nth-child(40n+12), [data-bar-id] > *:nth-child(40n+12), [data-line-id] > *:nth-child(40n+12) {
  color: #e18f0e; }

[data-pie-id] > *:nth-child(40n+13), [data-bar-id] > *:nth-child(40n+13), [data-line-id] > *:nth-child(40n+13) {
  color: #d8890d; }

[data-pie-id] > *:nth-child(40n+14), [data-bar-id] > *:nth-child(40n+14), [data-line-id] > *:nth-child(40n+14) {
  color: #ce830d; }

[data-pie-id] > *:nth-child(40n+15), [data-bar-id] > *:nth-child(40n+15), [data-line-id] > *:nth-child(40n+15) {
  color: #c47d0c; }

[data-pie-id] > *:nth-child(40n+16), [data-bar-id] > *:nth-child(40n+16), [data-line-id] > *:nth-child(40n+16) {
  color: #bb770b; }

[data-pie-id] > *:nth-child(40n+17), [data-bar-id] > *:nth-child(40n+17), [data-line-id] > *:nth-child(40n+17) {
  color: #b1710b; }

[data-pie-id] > *:nth-child(40n+18), [data-bar-id] > *:nth-child(40n+18), [data-line-id] > *:nth-child(40n+18) {
  color: #a86b0a; }

[data-pie-id] > *:nth-child(40n+19), [data-bar-id] > *:nth-child(40n+19), [data-line-id] > *:nth-child(40n+19) {
  color: #9e650a; }

[data-pie-id] > *:nth-child(40n+20), [data-bar-id] > *:nth-child(40n+20), [data-line-id] > *:nth-child(40n+20) {
  color: #0bad54; }

[data-pie-id] > *:nth-child(40n+21), [data-bar-id] > *:nth-child(40n+21), [data-line-id] > *:nth-child(40n+21) {
  color: #0aa44f; }

[data-pie-id] > *:nth-child(40n+22), [data-bar-id] > *:nth-child(40n+22), [data-line-id] > *:nth-child(40n+22) {
  color: #099a4a; }

[data-pie-id] > *:nth-child(40n+23), [data-bar-id] > *:nth-child(40n+23), [data-line-id] > *:nth-child(40n+23) {
  color: #099046; }

[data-pie-id] > *:nth-child(40n+24), [data-bar-id] > *:nth-child(40n+24), [data-line-id] > *:nth-child(40n+24) {
  color: #088741; }

[data-pie-id] > *:nth-child(40n+25), [data-bar-id] > *:nth-child(40n+25), [data-line-id] > *:nth-child(40n+25) {
  color: #087d3d; }

[data-pie-id] > *:nth-child(40n+26), [data-bar-id] > *:nth-child(40n+26), [data-line-id] > *:nth-child(40n+26) {
  color: #077438; }

[data-pie-id] > *:nth-child(40n+27), [data-bar-id] > *:nth-child(40n+27), [data-line-id] > *:nth-child(40n+27) {
  color: #076a33; }

[data-pie-id] > *:nth-child(40n+28), [data-bar-id] > *:nth-child(40n+28), [data-line-id] > *:nth-child(40n+28) {
  color: #06602f; }

[data-pie-id] > *:nth-child(40n+29), [data-bar-id] > *:nth-child(40n+29), [data-line-id] > *:nth-child(40n+29) {
  color: #05572a; }

[data-pie-id] > *:nth-child(40n+30), [data-bar-id] > *:nth-child(40n+30), [data-line-id] > *:nth-child(40n+30) {
  color: #6fb7f6; }

[data-pie-id] > *:nth-child(40n+31), [data-bar-id] > *:nth-child(40n+31), [data-line-id] > *:nth-child(40n+31) {
  color: #6ab5f6; }

[data-pie-id] > *:nth-child(40n+32), [data-bar-id] > *:nth-child(40n+32), [data-line-id] > *:nth-child(40n+32) {
  color: #65b3f6; }

[data-pie-id] > *:nth-child(40n+33), [data-bar-id] > *:nth-child(40n+33), [data-line-id] > *:nth-child(40n+33) {
  color: #60b0f5; }

[data-pie-id] > *:nth-child(40n+34), [data-bar-id] > *:nth-child(40n+34), [data-line-id] > *:nth-child(40n+34) {
  color: #5caef5; }

[data-pie-id] > *:nth-child(40n+35), [data-bar-id] > *:nth-child(40n+35), [data-line-id] > *:nth-child(40n+35) {
  color: #57abf5; }

[data-pie-id] > *:nth-child(40n+36), [data-bar-id] > *:nth-child(40n+36), [data-line-id] > *:nth-child(40n+36) {
  color: #52a9f4; }

[data-pie-id] > *:nth-child(40n+37), [data-bar-id] > *:nth-child(40n+37), [data-line-id] > *:nth-child(40n+37) {
  color: #4da7f4; }

[data-pie-id] > *:nth-child(40n+38), [data-bar-id] > *:nth-child(40n+38), [data-line-id] > *:nth-child(40n+38) {
  color: #48a4f4; }

[data-pie-id] > *:nth-child(40n+39), [data-bar-id] > *:nth-child(40n+39), [data-line-id] > *:nth-child(40n+39) {
  color: #44a2f3; }

#holder {
  background-color: #f2a52b;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem; }
  #holder a {
    color: white;
    padding: 0px 5px; }
    #holder a:hover {
      background-color: #2cf285;
      border-radius: 5px; }

.jp-current {
  background-color: #2c96f2;
  border-radius: 5px; }

a.jp-current:hover {
  font-weight: normal; }
