@import "bourbon/bourbon";

$esOrange: #F2A52B;
$esDarkOrange: darken(#F2A52B, 20%);
$esRed: #F2502C;
$esDarkRed: darken(#F2502C, 15%);
$esGreen: #2CF285;
$esDarkGreen: darken(#2CF285, 20%);
$esBlue: #2C96F2;
$esDarkBlue: darken(#2C96F2, 20%);

body{
  color: white;
  background-attachment: fixed;
  height: 100%;
  @include linear-gradient(#444444 20%, #000000 100%);
}

#header{
  padding-top: 1em;
  border-bottom: solid 1px grey;
}

#my-cool-chart{
  position: inherit;
  top: -160px;
  left: -100px;
  width: 120%;
}

text{
  fill: white;
}

ol{
  margin-left: 2rem;
}

#update{
  height: 25px;
}

#footer {
  p{
    padding-top: 1em;
  }
  background-color: black;
  border-top: solid 1px grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* choose any height */
  text-align: center;
}

/******** PIZZA-PIE *******/
@for $i from 1 through 10{
  [data-pie-id] > *:nth-child(40n+#{$i}), [data-bar-id] > *:nth-child(10n+#{$i}), [data-line-id] > *:nth-child(10n+#{$i}) {
    color: lighten($esDarkRed, $i*4% ); }
  }

@for $i from 1 through 10{
  [data-pie-id] > *:nth-child(40n+#{$i+10}), [data-bar-id] > *:nth-child(40n+#{$i+10}), [data-line-id] > *:nth-child(40n+#{$i+10}) {
    color: lighten($esDarkOrange, $i*4% ); }
  }

@for $i from 1 through 10{
  [data-pie-id] > *:nth-child(40n+#{$i+20}), [data-bar-id] > *:nth-child(40n+#{$i+20}), [data-line-id] > *:nth-child(40n+#{$i+20}) {
    color: lighten($esDarkGreen, $i*4% ); }
  }

@for $i from 1 through 10{
  [data-pie-id] > *:nth-child(40n+#{$i+30}), [data-bar-id] > *:nth-child(40n+#{$i+30}), [data-line-id] > *:nth-child(40n+#{$i+30}) {
    color: lighten($esDarkBlue, $i*4% ); }
  }

#holder{
  a{
    color: white;
    padding: 0px 5px;
    &:hover{
      background-color: $esGreen;
      border-radius: 5px;
    }
    
  }
  background-color: $esOrange;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
}

.jp-current{
  background-color: $esBlue;
  border-radius: 5px;
  
}

a.jp-current:hover{
    font-weight: normal;
  }